:root{
  --superposable-size : 10dvh;
}

#editing-canvas{
  display: none;
}

#editing-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#editing-container>div{
  flex: 1;
}

#editing-main-div{
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

#editing-video{
  width: 100%;
  object-position: center;
}

#editing-video-container{
  width: fit-content;
  align-self: center;
}


#editing-video-buttons-container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
}

#editing-side-div{
  display: flex;
  flex-direction: column;
}

#editing-side-div #edited-images-output{
    align-self: center;
    flex: 1;
    display: block;
    /* align-content: center; */
    width: 100%;
    
    img{
      max-width: 100%;
      width: 100%;
      /* max-height: 25dvh; */
      object-fit: contain;
    }
}
#editing-video-img, #editing-video{
  display: none;
}

#editing-video-img, #editing-video, #editing-photo{
  max-height: 50dvh;
  object-fit: contain;
}

#editing-video-img{
  min-height: 50dvh;
}

#editing-video-img.active{
  display: block;
}

#editing-video.active{
  display: block;
}

#superposableImageImgContainer{
  display: flex;
  flex-direction: row;
}

.superposableImageImgContainer, .superposableImageImg{
  display: block;
  height: var(--superposable-size);
  /* width: var(--superposable-size); */
  object-fit: contain;
}

.layered{
  user-select: none;
}

.layered .superposableImageImg{
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.superposableImageImgContainer.layered{
  position: absolute;
}

#layered-image-container{
  position: absolute;

}

.media-selector-buttons{
  background-color: var(--color-one);
  border: 1px solid var(--color-two);
  border-radius: 1em;
  padding: 1em;
  font-size: 1em;
  
  display: flex;
  align-items: center;
  
  span{
    width: -webkit-fill-available;
    display: block;
    text-align: center;
  }
  
  
}

#editing-capture{
  opacity: 1;
  transition: all 300ms;
}

button:disabled{
  opacity: .5 !important;
}

.edited-image, .uploaded-image{
  position: relative;
  height: fit-content;
   
  .edited-image-save-button{
    left: 50%;
    top: 50%;
  }
  
  .edited-image-delete-button{
    left: -0.5em;
    top: -0.5em;
    translate: 0 0;
  }
}

.edited-image button, .uploaded-image button{
  opacity: 0;
  transition: 300ms;
  
  position: absolute;
  translate: -50% -50%;
  
  background-color: var(--color-one);
  border: 1px solid var(--color-two);
  border-radius: 1em;
  padding: 1em;
  font-size: 1em;
}

.edited-image button:hover, .uploaded-image button:hover{
  scale: 1.2;
}


.edited-image button:active, .uploaded-image button:active{
  scale: .9;
}

.edited-image:hover button, .uploaded-image:hover button{
  opacity: 1;
}

/* Has at least 2 child */
#edited-images-output:has(> :nth-child(2)){ 
  display: grid !important;
  grid-template-columns: auto auto;
  gap: 1em;
}

.uploaded-image{
  width: fit-content;
}

h2{
  text-align: center;
}