.edited-image, .uploaded-image{
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 1em;
  background-color: var(--color-foor);
  border-radius: 1em;
}

.edited-buttons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  translate: 0% -50%;
  border: .2em solid var(--color-one);
  gap: .2em;
  background: var(--color-one);
}

.edited-buttons-container button{
  transition: 300ms;
  display: flex;
  width: fit-content;
  flex-direction: row;
  font-size: 1rem;
  padding: 0.5em;
  border: 0;
  background-color: var(--color-foor) !important;
}

.edited-buttons-container button:hover{
  background-color: var(--color-one) !important;
}

.edited-buttons-container button img{
  transition: 300ms;
  mask-size: 1.5em !important;
  width: 1.5em !important;
  height: 1.5em;
  background: var(--color-one);
}

.edited-buttons-container button:hover img{
  background: var(--color-foor);

}

.edited-image-save-button img{
  mask: url(/assets/check.svg);
}
.edited-image-delete-button img{
  mask: url(/assets/bin.svg);
}
.edited-image-edit-button img{
  mask: url(/assets/edit.svg);
}

.editedSuperposableImagesContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}