.post {
  width: 30vw;
  
  max-width: 30vw;
  padding: 1em;
  background: var(--color-foor);
  border-radius: 1em;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: var(--color-two);
  border-radius: 1em 1em 0 0;
}

.comment-text{
  word-wrap: break-word;
  white-space: break-spaces;
  line-break: anywhere;
}

.comment-input-container{
  display: flex;
  flex-direction: row;
  border-top: .2em solid var(--color-one);
}

.comment-input{
  width: max-content;
  flex: 1;
  padding: .5em;
  box-sizing: border-box;
  background: var(--color-foor);
  border: 0;
  border-radius: 0.5em 0 0 0.5em;
  outline: none;
  resize: none;
}

.comment-send-btn {
  background: var(--color-one);
  border: 0;
  height: -webkit-fill-available;
  padding: 0 1em;
}

.image-comment-container {
  display: flex;
  flex-direction: column;
  border: .2em solid var(--color-one);
  border-radius: 0 0 .5em .5em;
}

.comments-container p {
  margin: 0;
}

.comments-container{
  max-height: 15vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: rgb(var(--color-one-rgb), 0.4);
  gap: 0.2em;
}

.comment-container {
  background: var(--color-foor);
  padding: .5em 0;
}