.post {
  width: 50vw;
  
  min-width: 30vw;
  padding: 1em;
  background: var(--color-foor);
  border-radius: 1em;
  position: relative;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  color: var(--color-two);
  border-radius: 1em 1em 0 0;
}

.comment-text{
  word-wrap: break-word;
  white-space: break-spaces;
  line-break: anywhere;
}

.comment-input-container{
  display: flex;
  flex-direction: row;
  border-top: .2em solid var(--color-one);
}

.comment-input{
  width: max-content;
  flex: 1;
  padding: .5em;
  box-sizing: border-box;
  background: var(--color-foor);
  border: 0;
  border-radius: 0.5em 0 0 0.5em;
  outline: none;
  resize: none;
}

.comment-input-container button{
  transition: 300ms;
  width: fit-content;
  /* height: -webkit-fill-available; */
  
  display: flex;
  flex-direction: row;
  
  font-size: 1rem;
  
  border: 0;
  
  padding: .5rem;
  gap: .5rem;
  /* padding: 0 1em; */
  background-color: var(--color-foor);
}

.comment-input-container button:hover{
  background-color: var(--color-one);

}

.comment-input-container button img{
  transition: 300ms;
  mask-size: 1.5em !important;
  width: 1.5em !important;
  height: 1.5em;
  background: var(--color-one);
  align-self: center;
}

.comment-input-container button span{
  transition: 300ms;
}

.comment-input-container button:hover{
  img{
    background: var(--color-foor);
  }
  span{
    color: var(--color-foor);
  }
}

.comment-send-btn img{
  mask: url(/assets/message-arrow-right.svg);
}


.like-btn img{
  mask: url(/assets/heart.svg);
}


.like-btn.liked img{
  mask: url(/assets/filled_heart.svg);
}

.likes-count {
  color: var(--color-one);
  text-align: center;
  align-self: center;
}

.image-comment-container {
  display: flex;
  flex-direction: column;
  border: .2em solid var(--color-one);
  border-radius: 0 0 .5em .5em;
}

.comments-container p {
  margin: 0;
}

.comments-container{
  max-height: 15vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background: rgb(var(--color-one-rgb), 0.4);
  gap: 0.2em;
}

.comment-container {
  background: var(--color-foor);
  padding: .5em 0;
}

.delete-post-btn {
  display: flex;
  width: fit-content;
  flex-direction: row;
  font-size: 1rem;
  position: absolute;
  left: 100%;
  top: 0;
  translate: -50% -50%;
  
  padding: 0.5em;
  border: 0.2em solid var(--color-one);
  background: var(--color-foor);
  transition: 300ms;
  /* border-radius: 1em; */
}

.delete-post-btn img{
  mask: url(/assets/bin.svg);
  transition: 300ms;
  mask-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background: var(--color-one);
}

.delete-post-btn:hover{
  background-color: var(--color-one) !important;
  img{
    background-color: var(--color-foor);
  }
}

.comment-username {
  font-style: italic;
  opacity: 0.6;
}
