@font-face{
	font-family: 'monocraft';
	src: url('../fonts/Monocraft.ttf') format('truetype');
}

:root{
  --color-one: #ffde67;
  --color-one-rgb: 255, 222, 103;
  --color-two: #453400;
  --color-three: #006e5e;
  --color-foor: white;
}


body{
  min-height: 100dvh;
	font-family:'monocraft';
  background-color: var(--color-foor);
  margin: 0;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
	font-family:'monocraft';
	outline: none;
}

h1{
  font-size: 4rem;
  text-transform: uppercase;
  width: fit-content;
  justify-self: center;
  text-decoration: underline;
}

h2{
  font-size: 2rem;
  width: fit-content;
  justify-self: center;
  text-align: center;
}

#container{
  height: 100%;
  background: rgb(var(--color-one-rgb), 0.5);

}

#navbar, #footer{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: .7rem;
  background-color: var(--color-one);
  
  a {
    margin: 1rem;
    display: block;
    text-decoration: none;
    color: var(--color-two);
    transition: 200ms;
  }
  a:hover.clickable{
    color: var(--color-foor);
    cursor: pointer;
  }
  
  
  .log-buttons-logged{
    display: none;
  }
  
  .logged#log-buttons{
    .log-buttons-unlogged{
      display: none;
    }
    .log-buttons-logged{
      display: block;
    }
  }
  
  #log-buttons{
    background-color: var(--color-foor);
    border-radius: .6rem;
    
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 1rem;
    
    a{
      margin: 0rem;
      height: fit-content;
      align-self: center;
    }
    a:hover.clickable{
      color: var(--color-one);
    }
    
    .separator{
      width: 1px;
      background-color: var(--color-two);
    }
  }
}


input {
  font-family: 'monocraft';
  outline: none;
}


textarea {
  font-family: 'monocraft';
}

#error-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

