@font-face{
	font-family: 'monocraft';
	src: url('fonts/Monocraft.ttc');
}

:root{
  --color-one: #ffde67;
  --color-two: #453400;
  --color-three: #006e5e;
  --color-foor: white;
}

/* html{
  width: 100vw;
  height: 100vh;
} */

body{
	font-family:'monocraft';
  /* width: 100%; */
  background-color: var(--color-foor);
  margin: 0;
}

button{
	font-family:'monocraft';
}

h1{
  font-size: 4rem;
  text-transform: uppercase;
  width: fit-content;
  justify-self: center;
  text-decoration: underline;
}

#container{
  height: 100%;
}

#navbar{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: .5rem;
  
  a {
    margin: 1rem;
    display: block;
    text-decoration: none;
    color: var(--color-two);
    transition: 500ms;
    
  }
  a:hover{
    color: var(--color-one);
  }
  
  
  .log-buttons-logged{
    display: none;
  }
  
  .logged#log-buttons{
    .log-buttons-unlogged{
      display: none;
    }
    .log-buttons-logged{
      display: block;
    }
  }
  
  #log-buttons{
    background-color: var(--color-one);
    border-radius: .6rem;
    
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 1rem;
    
    a{
      margin: 0rem;
      height: fit-content;
      align-self: center;
    }
    a:hover{
      color: var(--color-foor);
    }
    
    
    .separator{
      width: 1px;
      background-color: var(--color-two);
    }
    
    /* a:first-child{
      margin-right: 0;
    }
    
    a:last-child{
      margin-left: 0;
    } */
  }
}